<div class="about d-flex  align-items-center justify-content-center">
    <img src="Images/aboutUsCar.png" alt="">
    <div class="about-Content">
        <h3>About Us</h3>
        <span class="mb-5">Welcome to <span>Mourad Motors </span></span>

        <p class="my-4">
             your trusted destination for all things automotive. We pride ourselves on delivering exceptional services and offering an extensive range of vehicles to suit every lifestyle and budget.
        </p>
    </div>

</div>