.slider h3{
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.7em;
}
.category{
    margin: 0 20px;
    border-radius: 10px;
}
.category img{
    border-radius: 10px;

}