<div class="cardetails d-flex gap-5 p-3 ">
    <div class="left w-50">
        <div class="w-100">
            <owl-carousel-o [options]="customOptions">

                @for ( category of arrLogo ; track $index) {
                    <ng-template carouselSlide >
        
                        <img src="Images/Jeep-2024-1024x853.webp" alt="" class="rounded-4">
    
                      </ng-template>
                  
                }
            
              </owl-carousel-o>
        </div>


    </div>
    <div class="right p-4 bg-light rounded-3 flex-grow-1  ">
        <div class="Details d-flex justify-content-between align-items-center">
            <h3>Jeep Wrangler 2024</h3>
            <div class="Icon">
                <i class="fa-brands fa-whatsapp"></i>

            </div>
        </div>

    </div>
</div>