.headerCar h2{
    color: #bc792b;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.7em;
}
.card{
    
    border: none;
    border-radius: 20px;
}
.card img{
    border-radius: 15px;

}

.Content h2{
     
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.7em;
}
.Content h5{
    color: #bc792b;
    font-size: 18px;
    font-weight: 500;
    margin: 8px 0;
}
.icons p i{
    color: #fff;
    padding: 5px;
    background-color: #bc792b;
    border-radius: 5px;
}
.allCars .btn{
    background-color: #bc792b;
    padding: 10px 30px;
    color: #fff;
    outline: none;
    border-radius: 7px;
}
.contact .iconContact{
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bc792b;
    width: 50px;
    height: 50px;

}
.contact .iconContact i{
 font-size: 20px;
 color: #fff;

}